* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root {
    --sort: #000;
    --hvid: #fff;
    --blue: #365171;
    --lilla: #6f5a7b;
    --deepred: #b66676;
    --red: #e66b6f;
    --beige: #eaac8c;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    position: relative;
    display: flex;
    background-color: var(--lilla);
    padding-left: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

  header img {
    height: 60px;
    margin-top: 18px;
    display: flex;
  }

  #menu {
    font-size:70px;
    cursor:pointer;
  }

  #search {
    margin-left: 84%;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--hvid);
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: var(--lilla);
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 23px;
    left: 45px;
    font-size: 60px;
  }

  main {
    height: 600px;
    background-color: var(--lilla);
  }

  .storbilled {
    width: 90%;
    margin-left: 5%;
  }

  .skab {
    margin-top: 10%;
    height: 90%;
    background-color: var(--blue);
  }

  #skaber {
    position: relative;
    display: flex;
    font-size: 60px;
    color: var(--blue);
    top: -10%;
    left: 5%;
  }

  .dot {
    height: 300px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5%;
    margin-left: 6%;
    margin-right: 6%;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }