* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root {
    --sort: #000;
    --hvid: #fff;
    --blue: #365171;
    --lilla: #6f5a7b;
    --deepred: #b66676;
    --red: #e66b6f;
    --beige: #eaac8c;
    --deeplilla: #5f3f77;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    background-color: #b666769d;
  }

  .firkantdeeppink {
    width: 100%;
    height: 555px;
    display: block;
    background-color: var(--deepred);
  }

  .skab {
    margin-top: 8%;
  }

  #arrang {
    font-size: 41px;
    color: var(--deepred);
    margin-left: 10%;
    margin-top: -0.6%;
  }

  .main-section {
    display: flex;
    flex-direction: column;
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: white;
    margin-top: 8.3%;
    max-height: 444px;
}
.section.open-mic {
    background-color: var(--blue); /* Open Mic Background */
    flex-direction: row-reverse;
}
.section.talent-show {
    background-color: var(--lilla); /* Talent Show Background */
}
.text-content {
    max-width: 50%;
}
.text-content h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    float: right;
    margin-top: -24.5%;
    margin-right: 20%;
}

.headline {color: var(--blue);}
.headline1 {color: var(--lilla);} /* Blue */
.headline2 {color: #f44336;} /* Red */ 
.headline3 {color: #e7e7e7; color: black;} /* Gray */ 
.headline4 {color: #555555;} /* Black */

.text-content p {
    margin: 20px 0;
    line-height: 1.5;
}
.text-content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1A3A75; /* Button background */
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
}

.text-content a:hover {
    background-color: #0A2A55; /* Button hover */
}

.image {
    max-width: 40%;
}

.image img {
    width: 85%;
    border-radius: 5px;
    margin-bottom: 29px;
}

  /*

  .indhold {
    display: flex;
    width: 100%;
    height: 433px;
    margin-top: 8.3%;
  }

  .indhold1 {
    background-color: #6f5a7b;
    flex-direction: row-reverse;
  }

  .indhold1 img {
    width: 85%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-top: -44px;
  }

  #opentext {
    width: 50%;
    margin-top: 110px;
    margin-right: 100px;
    padding: 40px;
    color: var(--hvid);
  }

  #open {
    font-size: 41px;
    color: var(--blue); 
    float: right;
  }
*/

  /*
  .indhold {
    width: 100%;
    height: 433px;
    display: flexbox;
    margin-top: 8.3%;
  }

  .indhold1 {
    background-color: var(--blue);
    flex-direction: row-reverse;
  }

  .indhold1 img {
    width: 60%;
    margin-left: 10px;
    margin-top: -46px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  #opentext {
    width: 50%;
    margin: 10%;
  }

  #open {
    font-size: 41px;
    color: var(--blue); 
    display: flexbox;
    float: right;
    margin-right: 10%;
    margin-bottom: -0.7%;
  }
    */

  .button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
  }
  
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: #f44336;} /* Red */ 
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
  .button5 {background-color: #555555;} /* Black */